body {
    box-sizing: border-box;
    color: #ffa600;
    background-color: #3d3d3d;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

ul {
    list-style: circle;
}

a {
    color: rgb(0, 219, 219);
    text-decoration: none;
}

a:hover {
    color: teal;
    text-decoration: underline;
}

.counter {
    position: relative;
    display: inline-block;

    width: 140px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #ffa600;

}

.counter::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;

    display: inline-block;
    width: 100%;
    height: 100%;

    border-radius: 15px;

    transition-property: right, opacity;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    background-color: teal;
    opacity: 0;
}

.counter:hover::after {
    right: 0;
    opacity: 1;


}

.counter:hover .counter-inner {
    color: #ffa600;
    text-decoration: none;
}

.counter-inner {
    color: rgb(0, 219, 219);
    margin-top: 7px;
    display: inline-block;

}

.shop__list {
    list-style: square;
}

.shop__item {
    color: rgb(0, 219, 219);
}

.shop__item:hover {
    color: teal;
    cursor: pointer;
}

.callback__list {
    margin-bottom: 30px;
}