body {
    color: #ffa600;
    background-color: #3d3d3d;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

ul {
    list-style: circle;
}

a {
    color: rgb(0, 219, 219);
    text-decoration: none;
}

a:hover {
    color: teal;
    text-decoration: underline;
}

.shop__list {
    list-style: square;
}

.shop__item {
    color: rgb(0, 219, 219);
}

.shop__item:hover {
    color: teal;
    cursor: pointer;
}

.callback__list {
    margin-bottom: 30px;
}