.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
}

[name="name"] {
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 23px;
}

[name="age"] {
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30px;
    font-size: 23px;
}

button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-size: 23px;
    font-weight: bold;
    color: #ffa600;
    margin: 0 auto;
    background-color: teal;
    cursor: pointer;
}

.output {
    text-align: center;
}

/* .first,
.second {
    margin-right: 50px;
} */

.wraper {
    outline: 1px solid tomato;
    display: flex;

}